{{ if (and .hypr (eq .chezmoi.osRelease.id "arch")) -}}
#!/bin/bash

swayidle -w timeout 600 'swaylock -f -c 000000' \
            timeout 1200 'hyprctl dispatch dpms off' \
            resume 'hyprctl dispatch dpms on' \
            timeout 1800 'systemctl suspend' \
            before-sleep 'playerctl pause' \
            after-resume 'hyprctl dispatch dpms on' &
{{ end -}}
