[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias less='less -Nx4'

export EDITOR=nvim
export GPG_TTY=$(tty)
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/gcr/ssh

{{ if eq .profile "desktop" -}}
[[ $(tty) =~ "pts" ]] && eval "$(starship init bash)"
{{ end -}}
