{{ if (and .rust (eq .chezmoi.osRelease.id "arch")) -}}
#!/bin/bash

{{ range .packages.rust -}}
paru -S --needed \
  {{ . }} \
  
{{ end -}}

curl --proto '=https' --tlsv1.3 -sSf https://sh.rustup.rs -o rustup.sh
echo "Review file rustup.sh before changing to execute permissions and running:"
echo "$ chmod +x rustup.sh"
echo "$ ./rustup.sh"
{{ end -}}
