{{ if (and .rust (eq .chezmoi.osRelease.id "arch")) -}}
#!/bin/bash

paru -S --needed --noconfirm \
{{ range .packages.rust -}}
  {{ . }} \
{{ end }}
  
curl --proto '=https' --tlsv1.3 -sSf https://sh.rustup.rs -o rustup.sh

echo "Review rustup.sh before changing permissions and running the script:"
echo "$ chmod +x rustup.sh"
echo "$ ./rustup.sh"
{{ end -}}
