{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

sudo pacman -S --needed \
  alacritty \
  fzf \
  git \
  neovim \
  ripgrep \
  rust \
  rust-analyzer \
  starship \
  ttf-inconsolata-go-nerd
{{ end -}}
