{{ if (and .rust (eq .chezmoi.osRelease.id "arch")) -}}
#!/bin/bash

pacman -S --needed \
  clang \
  curl \
  mold \
  sccache

curl --proto '=https' --tlsv1.3 -sSf https://sh.rustup.rs -o rustup.sh
echo "Review file rustup.sh before changing to execute permissions and running:"
echo "$ chmod +x rustup.sh"
echo "$ ./rustup.sh"
{{ end }}
