{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

sudo pacman -S --needed --noconfirm \
{{ range .packages.base -}}
  {{ . }} \
{{ end }}
  
{{ if not (stat (joinPath "/" "usr" "bin" "paru")) -}}
git clone https://aur.archlinux.org/paru.git
cd paru
makepkg -si
cd ..
rm -rf paru
{{ end -}}
{{ end -}}
