{{ if .hypr -}}
font=Roboto-6:Bold

[colors]
background=40404080
text=ffffffff
match=c0c0c0ff
selection=20202080
selection-match=808080ff
selection-text=c0c0c0ff
border=80808080

[border]
width=1
radius=5
{{ end -}}
