{{ if .hypr -}}
font=Roboto-6:Bold

[colors]
background=202020a0
text=ffffffff
match=f38ba8ff
selection=101010a0
selection-match=f38ba8ff
selection-text=ccccccff
border=808080a0

[border]
width=1
radius=5
{{ end -}}
