{{ if .hypr -}}
font=Roboto-6:Bold

[colors]
background=404040c0
text=ffffffff
match=808080ff
selection=202020c0
selection-match=808080ff
selection-text=c0c0c0ff
border=808080c0

[border]
width=1
radius=5
{{ end -}}
